/* Automatic Serial Number Row */
.serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
   }
   .serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
   }

#setTime
{
    display: inline;
}
#setDate
{
    display: inline;
}

.signature
{
    text-decoration: overline;
}
   